{% for hour in available %}
  <label class="{% if hour.available === false}disable{% endif %}" for="time={{hour.time}}">
    {% if hour.available === true%}
      <input type="radio" name="date" value="{{ hour.value}}" id="time-{{hour.time}}">7
      {% endif %}

      {{hour.time}}
  </label>
